.csv-load-input {
  display: none;
}

.drag-and-drop-area {
  max-width: 300px;
  margin: 10px auto;
  padding: 15px;
  border: 1px solid darkgray;
  border-radius: 10px;
  background-color: rgb(230, 229, 229);
  transition: all .5s;
}

.drag-and-drop-area-active {
  background-color: #fff;
  border-color: #2c2b2b;
}

.preview-area {
  border-collapse: collapse;
  margin-block: 10px;
}

.preview-area td, .preview-area th {
  border: 1px solid #373636;
  padding: 3px;
}