.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding-block: 20px;
  padding-inline: 25px;
}

.menu-left-part,
.menu-right-part {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.menu-item {
  list-style-type: none;
}