.ws-indicator {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.ws-indicator {
  background-color: rgb(170, 234, 75);
  box-shadow: 2px 2px 3px rgb(168, 225, 81);
}